<?xml version="1.0" encoding="UTF-8"?>
<module conf:schemaLocation="urn:intramart:jackling:toolkit:configurations configurations.xsd" xmlns="urn:intramart:jackling:module" xmlns:conf="urn:intramart:jackling:toolkit:configurations" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemeLocation="urn:intramart:jackling:module module.xsd">
  <id>mypackage.ui_if</id>
  <version>1.0.0</version>
  <type>module</type>
  <name>${module.name}</name>
  <vendor>${module.vendor}</vendor>
  <description>${module.description}</description>
  <dependencies>
    <dependency>
      <module-id>jp.co.intra_mart.vendor.jsonic</module-id>
      <verified-version>1.2.11</verified-version>
    </dependency>
  </dependencies>
</module>
